/* Global Properties */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #252525;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
}

/* Main Container height */
.m-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-attachment: fixed;
    background-size: cover;
}